<div class="flex items-center">
  {{ if .Params.avatar }}
  <div class="avatar mr-1">
    <div class="w-8 rounded-full">
      <img class="my-0" src="{{ .Params.avatar }}" alt="{{ .Params.author }}" />
    </div>
  </div>
  {{ else }}
  {{ end }}

  <span itemprop="author" itemscope itemtype="https://schema.org/Person">
  {{ if .Params.status }}
    <ion-icon name="checkmark-circle-outline"></ion-icon>
    <span itemprop="name">For Sale</span>
  {{ else }}
    <ion-icon name="alert-circle-outline"></ion-icon>
    <span itemprop="name">Sold</span>
  {{ end }}
  </span>
</div>
